@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Git Deploy!</h1>
    <h1>Hi! this is vscGit1011</h1>
    <h2>Fix ver 2!</h2>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


